---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLocale, getTranslations } from '@/utils/i18n';

const locale = getLocale(Astro.currentLocale);
const t = getTranslations(locale);
const homeUrl = getRelativeLocaleUrl(locale, '');
---

<a href={homeUrl} class="home-link" title={t.common.backHome}>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 20V14H14V20H19V12H22L12 3L2 12H5V20H10Z" fill="currentColor"/>
    </svg>
</a>

<style>
  .home-link {
    position: fixed;
    top: 4vh;
    left: 5vw;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: var(--bg-color); */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s ease;
    opacity: 90%;
    border: none;
    text-decoration: none;
    color: var(--link-color);
  }

  .home-link:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(59, 130, 246, 0.4);
  }
</style>
